1) Explain the difference between the UNION ALL and UNION operators. What cases are they equivalent? When they are equivalent, which one should you use?

In [ ]:
/* 
    UNION ALL combines the records found in two tables, whilst keeping
    duplicates. UNION does the same but discards duplicates.

    They are equivalent when both sets are completely unique.
    If this were the case, the preferred method would be 
    UNION ALL to avoid unnecessary duplicate removal when
    they are no duplicates in the first place.
*/

2\. Write a query that generates a virtual auxillary table of the numbers in the range 1-10.

In [13]:
select 1 as num
UNION 
select 2
UNION 
select 3
UNION 
select 4
UNION 
select 5
UNION 
select 6
UNION 
select 7
UNION 
select 8
UNION 
select 9
UNION 
select 10

num
1
2
3
4
5
6
7
8
9
10

3\. Return customer and employee pairs that had order activity in January 2016 but not in February.

In [11]:
use Northwinds2022TSQLV7;

select CustomerId as custid, EmployeeId as empid
from Sales.[Order]
where YEAR(OrderDate) = 2016 and MONTH(OrderDate) = 1

EXCEPT

select CustomerId as custid, EmployeeId as empid
from Sales.[Order]
where YEAR(OrderDate) = 2016 and MONTH(OrderDate) = 2

order by custid asc, empid asc;

custid,empid
1,1
3,3
5,8
5,9
6,9
7,6
9,1
12,2
16,7
17,1
20,7
24,8
25,1
26,3
32,4
38,9
39,3
40,2
41,2
42,2
44,8
47,3
47,4
47,8
49,7
55,2
55,3
56,6
59,8
63,8
64,9
65,3
65,8
66,5
67,5
70,3
71,2
75,1
76,2
76,5
80,1
81,1
81,3
81,4
82,6
84,1
84,3
84,4
88,7
89,4

4\. Return customer and employee pairs that had order activity in both January 2016 and February.

In [14]:
use Northwinds2022TSQLV7;

select CustomerId as custid, EmployeeId as empid
from Sales.[Order]
where YEAR(OrderDate) = 2016 and MONTH(OrderDate) = 1

INTERSECT

select CustomerId as custid, EmployeeId as empid
from Sales.[Order]
where YEAR(OrderDate) = 2016 and MONTH(OrderDate) = 2

order by custid asc, empid asc;

custid,empid
20,3
39,9
46,5
67,1
71,4

5\. Return customer and employee pairs that had order activity in both January 2016 and February but not in 2015.

In [16]:
use Northwinds2022TSQLV7;

(select CustomerId as custid, EmployeeId as empid
from Sales.[Order]
where YEAR(OrderDate) = 2016 and MONTH(OrderDate) = 1

INTERSECT

select CustomerId as custid, EmployeeId as empid
from Sales.[Order]
where YEAR(OrderDate) = 2016 and MONTH(OrderDate) = 2)

EXCEPT

select CustomerId as custid, EmployeeId as empid
from Sales.[Order]
where YEAR(OrderDate) = 2015

custid,empid
67,1
46,5